---
layout: base.njk
---
<header>
	<nav>
		{% set latest = collections.rarebit | reverse | first %}
		<a href="{{ latest.page.url }}">Comic</a>
		<a href="/archive/">Archive</a>
	</nav>
</header>
<main>
{{ content | safe }}
</main>
<footer>

</footer>
<style>
	nav {
		margin-bottom: 20px;
	}
	img {
		width: 100%;
	}
	.comic {
		width: 400px;
	}
	.archive div {
		height: 300px;
	}
	.archive div img {
		width: 150px;
		height: 150px;
	}
</style>